body {
  background-color: lightpink;
}

img.main {
  width: 300px;
  float: left;

}

.content {

}

/* .column1 {

  float: left;
  background-color: red;
} */
.column {
  width: 20%;
  float: left;
  background-color: red;
}

.sidebar {
  float: right;
  background-color: lightblue;
  height: 200px;
  width: 50%;
}
