body {
  background-color: lightpink;
}

img.main {
  width: 10%;
  float: left
  padding: 2%;
}

.content {

}

/* .column1 {

  float: left;
  background-color: red;
} */
.column {
  width: 20%;
  float: left;
  background-color: red;
}

.sidebar {
  float: right;
  height: 200px;
  background-color: yellow;
  width: 50%;
  border: 2px solid green;
  padding:10px;
  margin:20px;
}
